# Pastas e arquivos gerados pelo Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Arquivos de build e temporários
bin/
obj/
Debug/
Release/

# Arquivos de log
*.log

# Arquivos de cache e de lock
*.lock
*.cache
*.zip

# Outros arquivos
*.pdb
*.dll
*.exe
*.db
